:root {
  --clr-primary: #e5e5e5;
  --clr-primary-b1: #2230d2;
  --clr-primary-b300: #7f8cff;
  --clr-primary-b400: #6070ff;
  --clr-primary-b50: #ebebff;
  --clr-neutral-n0: #fff;
  --clr-neutral-n1: #091e42;
  --clr-neutral-n7: #c1c7d0;
  --clr-neutral-n5: #5e6c84;
  --clr-neutral-n10: #f7f7f9;
  --clr-neutral-n40: #dfe1e6;
  --clr-neutral-n60: #b3bac5;
  --clr-neutral-n100: #7a869a;
  --clr-neutral-n600: #344563;
  --clr-neutral-n700: #253858;
  --clr-neutral-n800: #172b4d;
  --ff: "Poppins", sans-serif;
}

/* CSS reset */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--ff);
  font-style: normal;
  overflow-x: hidden;
  background-color: var(--clr-primary);
  min-width: 12rem;
}

/* BUTTONS SETUP */
.btn {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  padding: 0.75rem;
  background-color: transparent;
  border: 1px solid var(--clr-primary-b300);
  border-radius: 8px;

  /* Text inside */
  font-weight: 500;
  font-size: clamp(0.8rem, 1.0625rem, 1.4rem);
  line-height: 1.5rem;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--clr-primary-b400);
  transition: 0.25s ease-in-out;
}

.btn:hover {
  border-color: transparent;
  background-color: var(--clr-primary-b400);
  color: var(--clr-neutral-n0);
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  transition: 0.25s ease-in-out;
  transform: scale(1.15);
}

.btn:disabled {
  background-color: transparent;
  color: var(--clr-neutral-n5);
  border: 1px solid var(--clr-neutral-n7);
}

.btn:active {
  border-color: transparent;
  background-color: var(--clr-primary-b1);
  color: var(--clr-neutral-n0);
  transition: 0.15s ease-in;
}

.desktop {
  display: none;
}

header {
  background-color: var(--clr-neutral-n0);
}

.header__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5625rem 1.25rem;
}

.header__wrapper a {
  text-decoration: none;
  cursor: default;
  color: var(--clr-primary-b400);
  font-size: 1.125rem;
  line-height: 1.25rem;
  font-weight: 700;
}

.logo {
  word-spacing: 0;
}

.btn--ham {
  align-self: center;
  background: transparent;
  border: none;
}

.headline {
  display: flex;
  flex-direction: column;
  padding: 7.125rem 1.5rem;
  justify-content: flex-start;
  gap: clamp(0.6rem, 12px, 1.5rem);
  background: url("./../../assets/img/mb_header-shapes.svg") no-repeat;
  background-position: top right 60%;
  background-size: cover;
  background-color: var(--clr-neutral-n0);
  min-width: 12rem;
  border-radius: 0 0 0 4.5rem;
}

.headline__tittle {
  max-width: 12ch;
  font-weight: 700;
  font-size: clamp(2rem, 2.5rem, 3rem);
  color: var(--clr-neutral-n800);
  line-height: 3.25rem;
  margin-bottom: 0;
}

.headline__intro-text {
  color: var(--clr-neutral-n600);
  font-weight: 400;
  font-size: clamp(0.8rem, 16px, 1.25rem);
  line-height: 1.5rem;
  max-width: 75ch;
  min-width: 20ch;
  margin: 0;
}

.lets-connect {
  text-decoration: none;
  font-weight: 500;
  color: var(--clr-primary-b300);
  font-size: 1rem;
  line-height: 1.5rem;
}

.media__icons {
  padding-left: 0;
  margin-top: -0.3rem;
  width: 6rem;
  height: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  list-style: none;
}

/* WORK SECTION */
.projects {
  padding: 7.125rem 1.5rem;
  display: grid;
  grid-template-rows: repeat(4, minmax(3.5rem, 1fr));
  place-items: center;
  gap: 4.5rem;
  overflow-x: hidden;
}

.project {
  background-color: var(--clr-neutral-n0);
  border: solid 1px var(--clr-neutral-n40);
  border-radius: 16px;
  padding: 1rem;
}

.cover {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0;
  padding: 0;
}

.cover img {
  width: 100%;
  height: auto;
}

.project__title {
  color: var(--clr-neutral-n800);
  font-weight: 700;
  font-size: clamp(2rem, 30px + 10vw, 2.5rem);
  line-height: clamp(2.75rem, 40px +10vw, 3.25rem);
}

.canopy {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  gap: 0.7rem;
  width: minmax(12.5rem, 75%);
  height: 1.8rem;
  order: 1;
}

.canopy h2 {
  color: var(--clr-neutral-n800);
}

.canopy h4 {
  color: var(--clr-neutral-n600);
}

.canopy ul {
  padding-left: 0.8em;
  list-style: url(./../../assets/img/mb_li_dot.svg) outside;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.8rem;
  color: var(--clr-neutral-n100);
  font-weight: 600;
  font-size: clamp(0.5rem, 0.8125rem, 1rem);
  line-height: 1rem;
}

.canopy li {
  width: calc(50% - 1.8rem);
  white-space: nowrap;
}

.button__wrapper {
  order: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 0.5rem;
  width: clamp(0.76rem, 13.6875rem, 15rem);
  height: 1.5rem;
}

.project__summary {
  max-width: 75ch;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.5rem;
  color: var(--clr-neutral-n600);
}

.tech__wrapper {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 0;
  margin-left: 0;
  gap: clamp(0.35rem, 0.5rem, 0.8rem);
}

.tech__wrapper a {
  border-color: transparent;
  background: var(--clr-primary-b50);
  border-radius: 8px;
  padding: 4px 12px;
  width: minmax(1.8125rem, auto);
  height: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  font-size: clamp(0.5rem, 0.75rem, 1.3rem);
  line-height: 1rem;
  letter-spacing: 0.03em;
  color: var(--clr-primary-b400);
}

/* ABOUT ME */
.about-me-section {
  border-radius: 0 85px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7.125rem 1.5rem;
  gap: 1.5rem;
  background-color: var(--clr-neutral-n0);
}

/* Bio */
.knowledge {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 0.75rem;
  width: 100%;
}

.knowledge h2 {
  color: var(--clr-neutral-n800);
  font-weight: 700;
  font-size: clamp(1.5rem, 2.5rem, 3.5rem);
  line-height: 3.25rem;
  max-width: 6ch;
  margin-bottom: 0;
  padding-bottom: 0;
}

.knowledge p {
  max-width: 75ch;
  margin-top: 0;
  padding-top: 0;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--clr-neutral-n600);
}

.knowledge .media__icons {
  padding: 0.5rem;
  margin-top: 0;
  gap: 0.8rem;
}

.knowledge li {
  padding: 0.25rem;
}

/* Tech Stack and Skills */
.about-me {
  width: 100%;
  padding: 0;
  color: var(--clr-neutral-n600);
}

.about-me > ul {
  width: auto;
  margin-left: 0;
  padding-left: 0.5rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 500;
  font-size: clamp(0.9rem, 1.25rem, 1.5rem);
  line-height: 1.5rem;
}

.category {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
}

.sub-category {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding-left: 0.5rem;
  width: calc(100% - 0.8rem);
  justify-content: center;
  align-items: stretch;
}

#js,
#html,
#css {
  width: 100%;
  margin-left: 0;
  display: flex;
  padding: 0.75rem;
  background: var(--clr-neutral-n10);
  border-radius: 8px;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
  line-height: 1.25rem;
  font-size: clamp(0.75rem, 0.9375rem, 1.2rem);
  color: var(--clr-neutral-n700);
}

.underline {
  border-bottom: solid 1px var(--clr-neutral-n40);
  margin: 1rem 0;
  padding-bottom: 1rem;
}

/* CONTACT FORM */
#contact {
  background-color: var(--clr-neutral-n0);
}

.contact-me {
  background-color: var(--clr-primary-b400);
  border-radius: 65px 0 0 0;
  background-image: url("./../../assets/img/mb_contact\ form\ shapes-mobile.svg");
  background-position: 105% 102%;
  background-blend-mode: normal;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 7.125rem 1.5rem 0;
  justify-content: center;
  align-items: center;
  gap: clamp(0.6rem, 12px, 1.5rem);
}

.contact-me h1 {
  color: var(--clr-neutral-n0);
  font-weight: 700;
  font-size: clamp(2rem, 2.5rem, 3.5rem);
  line-height: 3.25rem;
  text-align: center;
}

.contact-me p {
  font-weight: 400;
  font-size: clamp(0.5rem, 1.25rem, 3rem);
  line-height: 1.75rem;
  text-align: center;
  color: var(--clr-primary-b50);
  max-width: 75ch;
}

.contact-me__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

#email,
#name {
  height: 100%;
  height: 3rem;
  border: transparent;
}

#email::placeholder,
#name::placeholder {
  color: var(--clr-neutral-n800);
  font-weight: 400;
  font-size: 1.0625rem;
  line-height: 1.25rem;
}

#email,
#msg,
#name {
  width: 100%;
  padding: 0.5em;
  background-color: var(--clr-neutral-n0);
  border-radius: 8px;
  line-height: 1.25rem;
}

#msg {
  height: 10.63rem;
  padding: 1rem;
  font-weight: 400;
  font-size: clamp(0.5rem, 0.9375rem, 1.5rem);
  line-height: 1.5rem;
}

#msg::placeholder {
  color: var(--clr-neutral-n60);
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.5rem;
}

.btn--submit {
  background-color: var(--clr-neutral-n0);
  color: var(--clr-primary-b400);
  border-radius: 8px;
  width: 8.88rem;
  padding: 0.75rem 1rem;
}

footer {
  height: auto;
  width: 100%;
  padding: 1rem 0.75rem;
  background-color: var(--clr-primary-b400);
  background-image: url(./../../assets/img/mb_home-indicator.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* DESKTOP */
@media (min-width: 420px) {
  body {
    min-width: 375px;
  }

  .headline {
    border-radius: 0 0 0 4.5rem;
    padding: 3% 21%;
  }
}

@media screen and (min-width: 502px) {
  /* CONTACT ME */
  .contact-me {
    border-radius: 12.063rem 0 0 0;
  }
}

@media screen and (min-width: 768px) {
  .header {
    width: 95%;
  }

  .desktop {
    display: block;
  }

  .phone {
    display: none;
  }

  .desktop__menu {
    display: flex;
    padding: 0;
    list-style-type: none;
    gap: 1em;
    font-weight: 500;
    font-size: 0.9375rem;
    line-height: 1.25rem;
  }

  .desktop__menu a {
    color: var(--clr-neutral-n600);
    cursor: pointer;
  }

  .header__navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 1.5625rem 8%;
  }

  .headline {
    background: url("./../../assets/img/dk_Header_bg.svg") no-repeat;
    background-color: var(--clr-neutral-n0);
    background-position: top 2em right 0.1em;
    background-size: 100% auto;
    padding: 20% 25vw;
    width: 100%;
    height: auto;
    border-radius: 0 0 0 12.5rem;
  }

  .headline__tittle {
    max-width: 20ch;
  }

  .headline__intro-text {
    max-width: 75ch;
  }

  /* PROJECTS */
  .projects {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: calc(2.875rem + 5vw);
    gap: calc(2.875rem + 5vh);
  }

  .project {
    display: flex;
    justify-content: stretch;
    align-content: flex-start;
    gap: clamp(0.6rem, 0.75rem + 10vw, 1.5rem);
    padding-left: 1rem;
    width: 100%;
    height: auto;
  }

  .projects .project:nth-child(2),
  .projects .project:nth-child(4) {
    display: flex;
    flex-direction: row-reverse;
  }

  .cover {
    flex-grow: 1;
  }

  .project__title {
    color: var(--clr-neutral-n1);
  }

  .caption-wrapper {
    flex-grow: 0.8;
  }

  /* ABOUT */
  .about-me-section {
    padding: 5rem 7.125rem 7.125rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 2rem;
    border-radius: 0 12.3125rem 0 0;
  }

  .underline {
    border-bottom: solid 1px var(--clr-neutral-n40);
  }

  .category {
    height: 3em;
    padding-top: 1em;
  }

  .sub-category {
    display: flex;
    flex-direction: row;
    max-width: 22rem;
  }

  .sub-category li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  #js,
  #html,
  #css {
    align-items: baseline;
  }

  /* CONTACT FORM */
  .contact-me {
    background-color: var(--clr-primary-b400);
    border-radius: 12.0625rem 0 0 0;
    background-image: url("./../../assets/img/dk_contact\ form\ background\ shapes.svg");
    background-size: 102% auto;
    background-position: -45% 1vh;
    background-blend-mode: normal;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    padding: 6% 25vw;
  }

  .contact-me h1 {
    margin-bottom: 0;
  }

  .contact-me p {
    max-width: 45ch;
  }

  .contact-me__form {
    max-width: 300px;
  }

  #email,
  #msg,
  #name {
    border-radius: 2px;
  }

  .btn--submit {
    align-self: center;
  }
}
